<h1>All Pets</h1>

<% @shelter.pets.each do |pet| %>
<section class="pets-list">
  <h2><%= pet.name %></h2>


<% end %>
<br>

<section class="home">
  <p style="font-size:20px;"><a href="/">Home</a></p>
</section>
