<body style="background-color:rgb(97, 209, 115)">
  <h2 style="font-size:35px;text-align:center;">Welcome to Adpot-a-Friend</h2>
    <p style="font-size:25px;text-align:center;"><u>View Shelters</u></p>
  <ul>
    <ul style="font-size:20px;"><a href="/shelters">Click here to view all shelters:
      <br>
      <img src="https://i.ibb.co/HtPVRDv/Screen-Shot-2020-08-23-at-1-47-31-PM.png" id="shelter-image" alt="Animated cabin" border="0" />
    </a></ul>
  </ul>
  <br>
  <br>
  <br>
  <br>



  <p style="font-size:25px;text-align:center;"><u>New Shelter</u></p>
  <ul><br>
    <ul style="font-size:20px;"><a href="/shelters/new">New Shelter<br>
      <img src="https://i.ibb.co/VMrCYw0/Screen-Shot-2020-08-23-at-1-46-50-PM.png" id="shelter-image" alt="Animated shelter being built" border="0" />
    </a></ul>
  </ul>

  <!-- <p style="font-size:25px;text-align:center;"><u>View All Pets</u></p>
  <ul>
    <li style="font-size:20px;"><a href="/pets">Click here to view all pets</a></li>
  </ul>

  <p style="font-size:25px;text-align:center;"><u>Add a Pet</u></p>
  <ul>
    <li style="font-size:20px;"><a href="/pets/new">Add Pet</a></li>
  </ul>
<br> -->
</body>
